/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
.reveal {
  .row {
     text-align: center;
      &:before, 
      &:after {
        content: "";
        clear: both;
        display: table;
      }
  }
  .col-50 {
    width: 50%;
    margin: 0 auto;
  }

  .col-25 {
    width: 25%;
    margin: 0 auto;
  }

  .col-12 {
    width: 12.5%;
    margin: 0 auto;
  }
  section {
    img {
      border: none !important;
    }
  }
  .gimmick {
    position: absolute;
    top: 1em;
    right: 2em;
    text-align: right;
    font-size: .5em;
      
      .g-item {
        margin-left: 1.2em;
        position: relative;
        opacity: 0;
        display: none;
        
        &.current {
          color: #dd77dd;
          
          .material-icons {
            color: #dd77dd;
          }
        }
        
        .material-icons {
          position: absolute;
          top: 1%;
          left: -1em;
 
        }
      }
   }
}

.embercli {
  .reveal {
    .g-item {
      &.embercli {
        color: #268bd2;
        opacity: 1;
        display: inline;
      }
    }
  }
}
.emberaddons {
  .g-item {
    &.emberaddons {
      color: #268bd2;
      opacity: 1;
      display: inline;
    }
      &.embercli {
      opacity: .5;
      display: inline;
    }
  }
}
.emberfastboot {
  .g-item {
    &.emberfastboot {
      color: #268bd2;
      opacity: 1;
      display: inline;
    }
      &.embercli {
      opacity: .5;
      display: inline;
    }
      &.emberaddons {
      opacity: .5;
      display: inline;
    }
  }
}
.community {
  .g-item {
    &.community {
      color: #268bd2;
      opacity: 1;
      display: inline;
    }
      &.embercli {
      opacity: .5;
      display: inline;
    }
      &.emberaddons {
      opacity: .5;
      display: inline;
    }
      &.emberfastboot {
      opacity: .5;
      display: inline;
    }
  }
}
.allgimmicks {
  .reveal {
    .gimmick {
      .g-item {
          color: blue;
          opacity: 1;
          display: inline;
        }
    }
  }
}

// some overrides after theme template import
@for $i from 1 through 4 {
  .reveal .col-#{$i} {
    float: left;
    width: 100% / $i;
  }
}

